.company {
    border-bottom-style: solid;
    border-bottom-width: thin;
}
h1 {
    font-weight: 900;
    padding-top: 15px;
    font-size: 60px;
}

h2{
    font-weight:800;
    font-size: 45px;
}
.agents {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.agent-phoneNumber {
    font-size: 30px;
}
.agent-companyName {
    font-size: 30px;

}

.addressFullStreet {
    font-size: 30px;
}
.foundAgents {
    padding-bottom: 10px;
}
.foundCompanies {
    padding-bottom: 10px;
}